:root{
    --background-light-color:#FFF7FC;
    --border-primary-light-color:#79747E;
    --button-light-color:#E8DEF8;
    --button-hover-light-color:#6750A4;
    --button-hover-text-light-color:#FFF7FC;
    --button-text-light-color:#6750A4;
    --text-content-light-color:#49454F;
    --text-input-border-light-color:#79747E;
    --text-input-border-hover-light-color:#6750A4;
    --text-input-placehouder-light-color:#1D1B20;
    --text-input-placehouder-hover-light-color:#1D1B20;
    --text-input-error-border-light-color:#B3261E;
}

body {
    background-color: var(--background-light-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    margin: 0;
	padding: 0;
	border: 0;
}

h1{
    margin: 0;
}

header {
    color: var(--text-content-light-color);
}

section {
    /* padding-top: 235px; */
}

.login-container{
    min-height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.button {
    background-color: var(--button-light-color);
    border: none;
    border-radius: 1rem;
    color:var(--button-text-light-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    height: 50px;
    min-width: 150px;
    max-width: 300px;
    width: 100%;

    /* float: left; */
    /* margin-left: 5px; */
    /* margin-top: 5px; */
}

.button:hover {
    background-color: var(--button-hover-light-color);
    color: var(--button-hover-text-light-color);
    transition: 0.35s;
}

.form {
    background-color: rgba(17, 24, 39, 1);
    border-radius: 0.95rem;
    color: rgba(243, 244, 246, 1);
    padding: 2rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formcontainer{
    display: flex;
    justify-content: center;
}

.inputtext {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.bttsubmit{
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

#answer {
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 3px;
    justify-content: center;
    align-items: center;
}

#choose {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


/* STYLE PEPE */

.logo {
    color: purple;
    text-align: center;
    font-size: 50px;
}

.main {
    display: flex;
    justify-content: center;

}

.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s;
}

.card h2 {
    font-family: helvetica;
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-family: helvetica;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}